<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285349301046-ghbia59ea51atdbbii8cmu3pnophkq7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285349301046-ghbia59ea51atdbbii8cmu3pnophkq7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAZOt32U_y4u5a1VaoH3Ch3QGSgnHuulWc</string>
	<key>GCM_SENDER_ID</key>
	<string>285349301046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glennOberle.projetParking</string>
	<key>PROJECT_ID</key>
	<string>ydays-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ydays-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285349301046:ios:4a77d76f6d86934c7d0197</string>
</dict>
</plist>